<div class="opener">
	<h1>Welcome to the Cultural Safety Course</h1>
	<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus tempus purus a semper. Donec nunc enim, aliquet ut vehicula vel, mollis id dui. Quisque lobortis, nunc at blandit consectetur, libero est porta velit, vel malesuada ipsum risus a enim. Nunc consequat eget tortor ac fringilla. Donec lobortis, orci ac blandit maximus, augue mauris porta ex, id ultricies quam mi nec arcu. Suspendisse vitae sollicitudin nibh. Aliquam ullamcorper sodales odio, sed rutrum tellus ullamcorper et. Aenean aliquam dui nec risus ultricies aliquam. Fusce est leo, tristique a dictum eget, volutpat at leo. Donec malesuada auctor placerat. Maecenas placerat lorem ut viverra interdum. Donec rutrum sagittis mi at sodales. Ut suscipit, risus vel tincidunt accumsan, magna est suscipit ipsum, ut sagittis massa eros lacinia massa.</p> -->
	<p class="front">Click below to start</p>
	<div class="button start-button"><%= link_to 'Start the course!', chapters_path %></div>
</div>
