<div class="opener">
	<h1>Welcome to the Cultural Safety Course</h1>
	<p class="front">Click below to start</p>
	<div class="button start-button"><%= link_to 'Start the course!', chapters_path %></div>
</div>
