<h3>CULTURAL SAFETY</h3>
<h4>PODCASTS</h4>
<ol>
	<li>
		<h5>Podcasts on Birthing Justice with China Tolliver</h5>
	</li>
	<li>
		<h5>Birth Control Podcast facebook page</h5>
		<a href="https://www.facebook.com/profile.php?id=100011090449240] and twitter:  https://twitter.com/podcastbirth">https://www.facebook.com/profile.php?id=100011090449240] and twitter:  https://twitter.com/podcastbirth</a>
	</li>
</ol>

<h4>WEBSITES</h4>
<ol>
	<li>
		<h5>Cultural Safety Blog</h5>
		<a href="http://ruthdesouza.com">http://ruthdesouza.com</a>
	</li>
	<li>
		<h5>Cree Elder on Cultural Safety</h5>
		<a href="https://www.youtube.com/watch?v=b08oTRMV-m8"></a>
	</li>
	<li>
		<h5>Cultural safety in health care for Aboriginal people</h5>
		<a href="http://www.ecdip.org/docs/pdf/Cultural%20safety%20in%20health%20care%20compr.pdf ">http://www.ecdip.org/docs/pdf/Cultural%20safety%20in%20health%20care%20compr.pdf </a>
	</li>
	<li>
		<h5>Shafia Monroe</h5>
		<a href="https://shafiamonroe.com/">https://shafiamonroe.com/</a>
	</li>
	<li>
		<h5>Changing Woman Initiative</h5>
		<a href="http://www.changingwomaninitiative.com/"></a>
		<p>A culturally relevant indigenous midwife-run birth center initiative in New Mexico.</p>
	</li>
	<li>
		<h5>ACAM</h5>
		<a href="http://www.mayamidwifery.org/">http://www.mayamidwifery.org/</a>
		<p>A culturally relevant indigenous midwife-run birth center in the Highlands of Guatemala.  Be sure to watch the incredibly moving video about the story of how and why the birth center came to be.</p>
	</li>
</ol>

<h4>COURSES</h4>
<ol>
	<li>
		<h5>Cultural humility for transgender and gender queer clients</h5>
		<a href="https://vimeo.com/ondemand/culturalhumility">https://vimeo.com/ondemand/culturalhumility</a>
	</li>
	<li>
		<h5>A course in culturally sensitive care for LGBTQ clients</h5>
		<a href="http://maiamidwifery.com/professional-training/">http://maiamidwifery.com/professional-training/</a>
	</li>
	<li>
		<h5>See Shafia Monroe’s Website to find opportunities in cultural competency training and related live webinars.</h5>
		<a href="shafiamonroe.com">Shafiamonroe.com</a>
	</li>
</ol>