<h3>MORE RESOURCES ON IMPLICIT BIAS</h3>
<ol>
<li>
	<h5>The Danger of  Single Story:  </h5>
	<a href="https://www.youtube.com/watch?v=xUUJIG0-SlA">https://www.youtube.com/watch?v=xUUJIG0-SlA</a>
	<p>Description:  Our lives, our cultures, are composed of many overlapping stories. Novelist Chimamanda Adichie tells the story of how she found her authentic cultural voice -- and warns that if we hear only a single story about another person or country, we risk a critical misunderstanding.</p>
</li>
<li>
	<h5>Melanie Funchess:</h5>
	<a href="https://www.youtube.com/watch?v=Fr8G7MtRNlk&feature=youtu.be">https://www.youtube.com/watch?v=Fr8G7MtRNlk&feature=youtu.be</a>
	<p>Description: This talk was given at a local TEDx event, produced independently of the TED Conferences. Everyone makes assumptions about people they don’t know. Melanie will teach us to recognize these assumptions and work toward a common understanding. </p>
</li>

<li>
	<h5>American Broadcasting Corporation. (1991). “Prime Time Live: True Colors.”: </h5>
	<a href="https://www.youtube.com/watch?v=oi_DF9Iu2xA">https://www.youtube.com/watch?v=oi_DF9Iu2xA</a>
	<p>A study of every day racism and the results of implicit bias. A black man and his white friend are filmed while each try to get an apartment, buy a car, get a job, buy something in a department store, etc. and each have very different experiences with the same personnel.  Watch your internal response as the story unfolds.</p>
</li>

<li>
	<h5>How to Overcome Biases? Walk Boldly Toward Them, Verna Myers:  </h5>
	<a href="https://www.ted.com/talks/verna_myers_how_to_overcome_our_biases_walk_boldly_toward_them#t-149107">https://www.ted.com/talks/verna_myers_how_to_overcome_our_biases_walk_boldly_toward_them#t-149107</a>
	<p>Description:  Our biases can be dangerous, even deadly — as we've seen in the cases of Michael Brown in Ferguson, Missouri, and Eric Garner, in Staten Island, New York. Diversity advocate Vernā Myers looks closely at some of the subconscious attitudes we hold toward out-groups. She makes a plea to all people: Acknowledge your biases. Then move toward, not away from, the groups that make you uncomfortable. In a funny, impassioned, important talk, she shows us how.</p>
</li>

</ol>

<h3>MORE RESOURCES ON RACE AND RACISM</h3>
<h4>Videos</h4>
<ol>
<li>
	<h5>Unnatural Causes:  4-hour series: </h5>
	<a href="https://vimeo.com/ondemand/unnaturalcauses/">https://vimeo.com/ondemand/unnaturalcauses/</a>
	<p>UNNATURAL CAUSES is the acclaimed documentary series broadcast by PBS and now used by thousands of organizations around the country to tackle the root causes of our alarming socio-economic and racial inequities in health.</p>
	<p>The four-hour series crisscrosses the nation uncovering startling new findings that suggest there is much more to our health than bad habits, health care, or unlucky genes. The social circumstances in which we are born, live, and work can actually get under our skin and disrupt our physiology as much as germs and viruses.
	<p>Episode one (56 minutes):  In Sickness and in Wealth<br>
	What are the connections between healthy bodies, healthy bank accounts and skin color? Our opening episode travels to Louisville, Kentucky, not to explore whether medical care cures us but to see why we get sick in the first place, and why patterns of health and illness reflect underlying patterns of class and racial inequities.
	<p>Episode two (29 minutes):  When the Bough Breaks<br>
	The number of infants who die before their first birthday is much higher in the U.S. than in other countries. And for African Americans the rate is nearly twice as high as for white Americans. Even well-educated Black women have birth outcomes worse than white women who haven't finished high school. Why?</p>
	</p>
</li>

<li>
	<h5>RACE:  The power of an illusion:  3 hour series: </h5>
	<a href="https://vimeo.com/ondemand/race"></a>
	<p>The division of the world's peoples into distinct groups - "red," "black," "white" or "yellow" peoples - has became so deeply imbedded in our psyches, so widely accepted, many would promptly dismiss as crazy any suggestion of its falsity. Yet, that's exactly what this provocative, new three-hour series by California Newsreel claims. Race - The Power of an Illusion questions the very idea of race as biology, suggesting that a belief in race is no more sound than believing that the sun revolves around the earth.</p>
	<p>Yet race still matters. Just because race doesn't exist in biology doesn't mean it isn't very real, helping shape life chances and opportunities.</p>
</li>

<li>
	<h5>Butler, Shakti. (2013). Cracking the Codes: The System of Racial Inequity. World Trust.</h5>
	<a href="https://crackingthecodes.org/">https://crackingthecodes.org/</a>
	<p>From Shakti Butler, the director of “The Way Home: Women Talk About Race in America” and “Mirrors of Privilege: Making Whiteness Visible” , comes a new film that asks America to talk about the causes and consequences of systemic inequity. Cracking the Codes: The System of Racial Inequity features moving stories from racial justice leaders including Amer Ahmed, Michael Benitez, Barbie-Danielle DeCarlo, Joy DeGruy, Ericka Huggins, Humaira Jackson, Yuko Kodama, Peggy McIntosh, Rinku Sen, Tilman Smith and Tim Wise.</p>
</li>

<li>
	<h5>RACE FORWARD: What is systemic Racism?</h5>
	<a href="https://www.raceforward.org/videos/systemic-racism">https://www.raceforward.org/videos/systemic-racism</a>
	<p>"What Is Systemic Racism?" is an 8-part video series (about one minute each) that shows how racism shows up in our lives across institutions and society: Wealth Gap, Employment, Housing Discrimination, Government Surveillance, Incarceration, Drug Arrests, Immigration Arrests, Infant Mortality… yes, systemic racism is really a thing. </p>
</li>

<li>
	<h5>Traces of the Trade</h5>
	<a href="http://www.tracesofthetrade.org/"></a>
	<p>In the feature documentary Traces of the Trade: A Story from the Deep North, filmmaker Katrina Browne discovers that her New England ancestors were the largest slave-trading family in U.S. history. She and nine cousins retrace the Triangle Trade and gain powerful new perspectives on the black/white divide.</p>
	<p>In Traces of the Trade, Producer/Director Katrina Browne tells the story of her forefathers, the largest slave-trading family in U.S. history. Given the myth that the South is solely responsible for slavery, viewers will be surprised to learn that Browne’s ancestors were Northerners. The film follows Browne and nine fellow family members on a remarkable journey which brings them face-to-face with the history and legacy of New England’s hidden enterprise.</p>
</li>

<li>
	<h5>Michelle Alexander, Ted Talk</h5>
	<a href="https://www.youtube.com/watch?v=SQ6H-Mz6hgw">https://www.youtube.com/watch?v=SQ6H-Mz6hgw</a>
	<p>In this 23 minute Ted Talk, Michelle Alexander, author of The New Jim Crow:  Mass Incarceration in the Era of Colorblindness, explains why we as a society need to care about criminals, felons, and those in prison.  She provides the truth behind the war on drugs and mass incarceration of people of color, primarily black men, and compares it to the Jim Crow system of the 20th century.  She refers to our society as a modern-day caste system, with a large percentage of black men being permanently relegated to a social underclass. </p>
</li>

<li>
	<h5>Five tips on being an ally</h5>
	<a href="https://www.youtube.com/watch?v=_dg86g-QlM0">https://www.youtube.com/watch?v=_dg86g-QlM0</a>
</li>
</ol>

<h4>Books</h4>
<ol>
<li>
	<h5>Alexander, M. (2010). The New Jim Crow: Mass Incarceration in the Age of Colorblindness. New York: The New Press.</h5>
	<p>The New Jim Crow is a stunning account of the rebirth of a caste-like system in the United States, one that has resulted in millions of African Americans locked behind bars and then relegated to a permanent second-class status—denied the very rights supposedly won in the Civil Rights Movement. Since its publication in 2010, the book has appeared on the New York Times bestseller list for more than a year; been dubbed the “secular bible of a new social movement” by numerous commentators, including Cornel West; and has led to consciousness-raising efforts in universities, churches, community centers, re-entry centers, and prisons nationwide. The New Jim Crow tells a truth our nation has been reluctant to face.</p>
</li>

<li>
	<h5>Baldwin, J. (1992). The Fire Next Time (reissue). Vintage</h5>
	<a href="https://www.amazon.com/Fire-Next-Time-James-Baldwin/dp/067974472X"></a>
	<p>This 1963 work contains two essays: "My Dungeon Shook — Letter to my Nephew on the One Hundredth Anniversary of Emancipation," and "Down At The Cross — Letter from a Region of My Mind." The book arrived as fiery prophecy in the 1960s, but its sentences also speak to 2017.</p>
	<p>Many of them indeed know better, but as you will discover, people find it very difficult to act on what they know. To act is to be committed and to be committed is to be in danger. In this case the danger in the minds and hearts of most white Americans is the loss of their identity. Try to imagine how you would feel if you woke up one morning to find the sun shivering and all the stars aflame. You would be frightened because it is out of the order of nature. Any upheaval in the universe is terrifying because it so profoundly attacks one's sense of one's own reality. Well, the black man has functioned in the white man's world as a fixed star, as an immovable pillar, and as he moves out of his place, heaven and earth are shaken to their foundations.</p>
</li>

<li>
	<h5>Du Bois, W.E.B. (1903). The Souls of Black Folk. CreateSpace Independent Publishing Platform</h5>
	<a href="https://www.gutenberg.org/files/408/408-h/408-h.htm">https://www.gutenberg.org/files/408/408-h/408-h.htm</a>
	<p>The Souls of Black Folk is a classic work of American literature by W. E. B. Du Bois. It is a seminal work in the history of sociology, and a cornerstone of African-American literary history.</p>
	<p>The book, published in 1903, contains several essays on race, some of which the magazine Atlantic Monthly had previously published. To develop this work, Du Bois drew from his own experiences as an African American in the American society. Outside of its notable relevance in African-American history, The Souls of Black Folk also holds an important place in social science as one of the early works in the field of sociology.</p>
	<p>In The Souls of Black Folk, Du Bois coined the term "double consciousness", which is the idea that black people must have two fields of vision at all times. They must be conscious of how they view themselves, as well as being conscious of how the world views them.</p>
</li>

<li>
	<h5>Oparah, Julia Chinyere and Bonaparte, Alicia D. (2015). Birthing Justice: Black Women, Pregnancy, and Childbirth. Routledge</h5>
	<a href="http://www.blackwomenbirthingjustice.org/birthing-justice-contents"></a>
	<p>There is a global crisis in maternal health care for black women. In the United States, black women are over three times more likely to perish from pregnancy-related complications than white women; their babies are half as likely to survive the first year. Many black women experience policing, coercion, and disempowerment during pregnancy and childbirth and are disconnected from alternative birthing traditions. This book places black women's voices at the center of the debate on what should be done to fix the broken maternity system and foregrounds black women's agency in the emerging birth justice movement. Mixing scholarly, activist, and personal perspectives, the book shows readers how they too can change lives, one birth at a time.    </p>
</li>

<li>
	<h5>Oparah, Julia Chinyere, Arega, Helen and Hudson, Dantia (2017). Battling Over Birth: Black Women and the Maternal Health Care Crisis.  Praeclarus Press</h5>
	<a href="http://www.blackwomenbirthingjustice.org/battling-over-birth"></a>
	<p>"Battling over Birth is a critical and timely resource for understanding black women's birthing experiences in the United States, a country where black women's lives-and the lives they create-are at much greater risk of death and injury than those of non-black women ... By distilling the common and diverse threads from over 100 black women, the BWBJ researchers have woven a multi-faceted tapestry that reflects what black women view as important and central to optimal birth experiences. Their recommendations for improving care and outcomes are grounded in black women's authoritative knowledge. ... This wonderful, important, necessary research by and for black women points in the direction that black women think we should go to ensure they have safe, healthy, and satisfying birth experiences and outcomes. We need to listen and act."</p>
	<p>-Christine Morton, PhD, author, Birth Ambassadors: Doulas and the Re-Emergence of Woman-Supported Birth in America</p>
</li>

<li>
	<h5>Roberts, Dorothy, E. (1997). Killing the Black Body: Race, Reproduction, and the Meaning of Liberty.   Random House.</h5>
	<p>In 1997, this groundbreaking book made a powerful entrance into the national conversation on race. In a media landscape dominated by racially biased images of welfare queens and crack babies, Killing the Black Body exposed America’s systemic abuse of Black women’s bodies. From slave masters’ economic stake in bonded women’s fertility to government programs that coerced thousands of poor Black women into being sterilized as late as the 1970s, these abuses pointed to the degradation of Black motherhood—and the exclusion of Black women’s reproductive needs in mainstream feminist and civil rights agendas.</p>
	<p>Now, some two decades later, Killing the Black Body has not only exerted profound influence, but also remains as crucial as ever—a rallying cry for education, awareness, and action on extending reproductive justice to all women.</p>
</li>

<li>
	<h5>So you want to talk about race</h5>
	<a href="https://www.amazon.com/You-Want-Talk-About-Race/dp/1580056776/">https://www.amazon.com/You-Want-Talk-About-Race/dp/1580056776/</a>
</li>

<li>
	<h5>How to be less stupid about race</h5>
	<a href=" https://www.amazon.com/How-Less-Stupid-About-Race/dp/0807050776/"> https://www.amazon.com/How-Less-Stupid-About-Race/dp/0807050776/</a>
</li>

<li>
	<h5>Stamped from the beginning</h5>
	<a href="https://www.amazon.com/gp/product/1568584636/">https://www.amazon.com/gp/product/1568584636/</a>
</li>

<li>
	<h5>Hepshiba. (2010). Why there’s no such thing as “Reverse Racism”. Blog post on Daily Kos</h5>
	<a href="https://www.dailykos.com/stories/2010/07/15/884649/-Why-there-s-no-such-thing-as-Reverse-Racism">https://www.dailykos.com/stories/2010/07/15/884649/-Why-there-s-no-such-thing-as-Reverse-Racism</a>
</li>

<li>
	<h5>Williams, M.T. (2011). “Colorblind Ideology is a Form of Racism.” Psychology Today</h5>
	<a href="https://www.psychologytoday.com/us/blog/colorblind/201112/colorblind-ideology-is-form-racism">https://www.psychologytoday.com/us/blog/colorblind/201112/colorblind-ideology-is-form-racism</a>
</li>

</ol>

<h4>Websites</h4>

<ol>
	<li><a href="https://aromidwifery.wordpress.com/">https://aromidwifery.wordpress.com/</a></li>
	<li><a href="http://www.blackwomenbirthingjustice.org/">Black Women Birth Justice</a></li>
	<li><a href="https://www.equitymidwifery.org/">Equity in Midwifery</a></li>
	<li><a href="">Dismantling Racism:     Dismantling Racism  A web based workbook on dismantling racism and white supremacy.  Includes a list of attributes of the cultural of White Supremacy and their antidotes.</a></li>
	<li><a href="http://www.showingupforracialjustice.org/black-led-organizations.html">http://www.showingupforracialjustice.org/black-led-organizations.html</a></li>
	<li><a href="http://www.showingupforracialjustice.org/">http://www.showingupforracialjustice.org/</a></li>
	<li><a href="https://www.whiteaccomplices.org/">https://www.whiteaccomplices.org/</a></li>
</ol>