<h3>RESOURCES FOR POWER, PRIVILEGE, and OPPRESSION</h3>
<h4>VIDEOS</h4>
<ol>
	<li>
		<h5>Jane Elliott: A Class Divided. PBS documentary</h5>
		<a href="https://www.pbs.org/wgbh/frontline/film/class-divided/"></a>
		<p>This is an incredibly moving documentary about an exercise that a classroom teacher did with her third graders in 1984.  She transformed a kind and loving group of children into discriminators and an underclass in a matter of hours. And from that experience she created a bond between them that would last a lifetime.</p>
	</li>
	<li>
		<h5>Time Wise "The Pathology of Privilege”</h5>
		<a href="https://www.youtube.com/watch?v=t4mVaLvpsXs">https://www.youtube.com/watch?v=t4mVaLvpsXs</a>
		<p>Tim wise gives a powerful treatise on the dangers and downside of having privilege in a racist society.</p>
	</li>
	<li>
		<h5>Interactive live and recorded calls on "Facing Privilege"</h5>
		<a href="http://thefearlessheart.org/facing-privilege-calls/"></a>
		<p>Miki Kashtan provides an ongoing free forum of interactive phone calls for people interested in exploring their own and others’ privilege and new ways to relate to it within the vision to create a “world that works for everyone.”  In addition there are calls on “Overcoming Patriarchy,”  “Questioning Money,” and other topics.  Recordings of all previous calls are available </p>
	</li>
	<li>
		<h5>Mirrors of Privilege</h5>
		<a href="https://world-trust.org/mirrors-of-privilege-making-whiteness-visible/"></a>
		<p>stream online for $4.99.  An eye-opening film created by World Trust about people’s experiences and awakenings around their privilege. </p>
	</li>
	<li>
		<h5>Creating Freedom:  The Lottery of Birth</h5>
		<a href="https://www.imdb.com/title/tt2294551/">https://www.imdb.com/title/tt2294551/</a>
		<p>While this film isn’t expressly about privilege, it is about the larger unseen structures that govern the capitalist structure, which create systems of privilege, oppression, and domination that rule all of our lives.  </p>
	</li>
	<li>
		<h5>Five tips on being an ally</h5>
		<a href="https://www.youtube.com/watch?v=_dg86g-QlM0">https://www.youtube.com/watch?v=_dg86g-QlM0</a>
	</li>
</ol>

<h4>BOOKS AND ARTICLES</h4>
<ol>
	<li>
		<h5>DiAngelo, Robin (2018)  White Fragility: Why it’s so hard for white people to talk about racism.</h5>
		<a href="https://www.amazon.com/White-Fragility-People-About-Racism/dp/0807047414#reader_0807047414">https://www.amazon.com/White-Fragility-People-About-Racism/dp/0807047414#reader_0807047414</a>
	</li>
	<li>
		<h5>Robin DiAngelo:  White Fragility (EMBED ARTICLE, available here</h5>
		<a href="https://www.google.com/search?q=robin+diangelo+white+fragility&ie=utf-8&oe=utf-8&client=firefox-b-1-ab">https://www.google.com/search?q=robin+diangelo+white+fragility&ie=utf-8&oe=utf-8&client=firefox-b-1-ab</a>
	</li>
	<li>
		<h5>https://tavaana.org/sites/default/files/Bill%20Moyer%204%20Roles%20of%20Activists%20Hand-out.pdf</h5>
		<a href="https://tavaana.org/sites/default/files/Bill%20Moyer%204%20Roles%20of%20Activists%20Hand-out.pdf">https://tavaana.org/sites/default/files/Bill%20Moyer%204%20Roles%20of%20Activists%20Hand-out.pdf</a>
	</li>
	<li>
		<h5>https://docs.wixstatic.com/ugd/3c837a_842afcbefaae4d0baced6b1c1f23f1a2.pdf</h5>
		<a href="https://docs.wixstatic.com/ugd/3c837a_842afcbefaae4d0baced6b1c1f23f1a2.pdf">https://docs.wixstatic.com/ugd/3c837a_842afcbefaae4d0baced6b1c1f23f1a2.pdf</a>
	</li>
	<li>
		<h5>Okun, Tema:  White Supremacy Culture:  [embed]</h5>
	</li>
</ol>

<h4>WEBSITES</h4>
<ol>
	<li>
		<h5>https://www.whiteaccomplices.org/</h5>
		<a href="https://www.whiteaccomplices.org/">https://www.whiteaccomplices.org/</a>
	</li>
</ol>