<p id="notice"><%= notice %></p>

<div class="container centered course-container">
	<h1>Curriculum</h1>

  <% @chapters.each do |chapter| %>
    <div class="card-main course-card">
    	<h2><%=chapter.title%></h2> <div class="button chapter-button"><%= link_to "Open Chapter", chapter %></div>
    	<hr>
    	<p>Mauris sollicitudin eros id ipsum blandit imperdiet. Sed iaculis neque et lacus tempor rhoncus. Sed sem sem, ultricies nec massa vel, fermentum pretium nisi. Sed ut enim nisl. Mauris sapien justo, laoreet quis tincidunt et, dictum id odio. In dapibus risus nec euismod aliquam. In hac habitasse platea dictumst. Suspendisse in nisl in magna vulputate condimentum. Quisque viverra eget tortor vel molestie.</p>
    </div>
  <% end %>
</div>