/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require font-awesome
 */

* {
  font-family: Verdana;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 0;
  font-size: 27px;
}

.centered {
	text-align: center;
}

.course-container {
  width: 1140px;
  max-width: 100%;
  margin: 0em 3em;
}

.button a {
	color: white;
  background-color: #80b3ff;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  touch-action: manipulation;
}

h1 {
  margin-top: 2em;
  color: #0050c7;
  margin-bottom: 0;
  padding-bottom: 1.875rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  padding-bottom: 1.875rem;
}

h3 {
  /*color: #0050c7;*/
}

.link-left {
  display: inline-block;
  float: left;
}

.link-right {
  display: inline-block;
  float: right;
}